:root {
    --green: #38ccae;
    --dark: #1b1b1b;
    --white: rgb(252, 249, 249);
    --backgroundGradient: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--green));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    overflow: hidden;
}
@media only screen and (max-width: 700px) {
    body {
        overflow: hidden;
    }
}

@media only screen and (max-width: 414px) {
    body {
        overflow: auto;
    }
}

.menu {
    display: grid;
    grid-template-rows:28vh 25vh auto;
    height: 80vh;
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(2p0x);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

@media only screen and (max-width: 812px) {
    .menu {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

.menu__img {
    width: 40%;
    justify-self: center;
    text-align: center;
}

@media only screen and (max-width: 1362px) {
    .menu__img {
      width: 80%;
    }
}

.menu__myphoto {
    height: 80%;
    margin-top: 20px;
    border: 2px solid var(--white);
    border-radius: 50%;
}

.menu__nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    position: relative;
    height: 60%;
    padding: 5px;
    outline: none;
    border: 2px solid var(--white);
    background: var(--backgroundGradient);
    color:rgb(252, 249, 249);
    font-weight: bolder;
    cursor: pointer;
    transition: .35s ease-in-out;
}

@media only screen and (max-width: 810px) {
    .button {
      width: 130px;
      font-size: 1rem;
    }
}

@media only screen and (max-width: 414px) {
    .button {
      width: 100%;
    }
}

.button:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 1362px) {
    .button:hover {
        transform: scale(1.2);
    }
  }

.button::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #2b6154;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.button:hover::before {
    transform: scale(1);
}

.menu__download {
    position: relative;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.menu__cv {
    display: block;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 45%;
    height: 50%;
    border: 2px solid var(--white);
    font-size: 100%;
    padding: 10% 0;
    margin: auto;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .menu__cv {
        font-size: 150%;
        letter-spacing: 1.2px; 
    } 
}
 
@media only screen and (max-width: 414px) {
    .menu__cv {
        font-size: 100%;
       
    }
}  

/* arrow on the right side */
.fas {
    position: absolute;
    top: calc(100% - 80%);
    right: calc(100% - 82%);
    font-size: large;
    color: var(--green);
    animation: rightArrow 0.9s infinite;
}
.menu__cv:hover ~ .fa-regular {
    display: none;
}

.fa-arrow-right-long {
    position: absolute;
    top: calc(100% - 80%);
    right: calc(100% - 23%);
    font-size: large;
    animation: leftArrow 0.9s infinite;
}

.menu__cv:hover + .fa-arrow-right-long {
    display: none;
}


@keyframes rightArrow {
    from {transform: translateX(0)}
    to {transform: translateX(-10px)}
}

@keyframes leftArrow {
    from {transform: translateX(0)}
    to {transform: translateX(10px)}
}

.home {
    position: relative;
    height: 80vh;
    width: 50%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); 
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(30px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

@media only screen and (max-width: 812px) {
    .home {
      display: none;
    }
}

.menu__xmark {
    display: none;
    position: absolute;
    top: 1%;
    right: 1%;
    height: 30px;
    width: 30px;
    padding: 5px;
}


@media only screen and (max-width: 812px) {
    .menu__xmark {
      display: block;
    }
    .home__text {
        height: 80%;
    }
}

.home__header {
    width: 100%;
    letter-spacing: 0.8rem;
    margin: 82px auto;
    text-align: center;
    text-transform: uppercase;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
}

.home__header--name {
    letter-spacing: 0.2rem;
    margin: 20px ;
}

@media only screen and (max-width: 812px) {
    .home__header--name {
        margin: 250px auto;
    }
}

@media only screen and (max-width: 414px) {
    .home__header--name {
      margin: 100px auto;
    }
}

.home__animation {
    font-size: larger;
    color: rgba(12, 215, 174, 0.4);
    -webkit-animation: blink 1.2s ease-in-ou infinite;
    -o-animation: blink 1.5s ease-in-out infinite;
    animation: blink 1.5s ease-in-out infinite;
    
} 

@keyframes blink {
    50% {
        color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home__social__media {
    width: 100%;
    height: 20%;
    padding: 20px;
    text-align: center;
    font-size: large;
}

.fa-brands {
    margin: 10px;
    color: var(--green);
    background-color: var(--white);
    border: 1px solid rgba(229, 243, 235, 0.5);
    transition: .4s;
}

.fa-brands:hover {
    transform: scale(1.6);
    border: 2px solid var(--green);
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
}

.about {
    position: relative;
    display: none;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
} 

.about__container {
    width: 95%;
    height: 95%;
    margin: auto;
}

@media only screen and (max-width: 810px) {
    .about__container {
        font-size: 1.6rem;
    }
}

.about__header {
    text-align: center; 
    margin: 25px 45px;
}

@media only screen and (max-width: 1362px) {
    .about__header {
        width: 100%;
        margin: 35px auto;
    }
}

@media only screen and (max-width: 810px) {
    .about__header {
        margin: 95px auto;
    }
}

@media only screen and (max-width: 414px) {
    .about__header {
        font-size: smaller;
        margin: 45px auto;
    }
}

.about___header--h2 {
    text-align: center;
    text-transform: uppercase;
}

strong {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.about__text {
    margin: 10px 45px;
    font-size: larger;
    text-align: justify;
    text-indent: 35px;
}

@media only screen and (max-width: 1362px) {
    .about__text {
      font-size: 1.1rem;
    }
}

@media only screen and (max-width: 810px) {
    .about__text {
        font-size: 1.4rem;
        margin: 35px 45px;
    }
}

@media only screen and (max-width: 414px) {
    .about__text {
        font-size: 1.1rem;
        margin: 10px 45px;
    }
}

.about__text--indent { 
    margin-top: 30px; 
} 

.about__wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;
    transform-origin: 70% 70%; 
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

.education {
    position: relative;
    display: none;
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

@media only screen and (max-width: 1362px) {
    .education {
      font-size: 0.9rem;
    }
}

@media only screen and (max-width: 812px) {
    .education {
      font-size: inherit;
    }
}

.education__section--school {
    position: relative;
}

.education__section {
    margin: 25px 5px;
}

@media only screen and (max-width: 810px) {
    .education__section {
        margin: 65px auto;
    }
}

@media only screen and (max-width: 375px) {
    .education__section {
        margin: 45px auto;
    }
}

.education__header {
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
    text-transform: uppercase; 
	color: transparent;
	-webkit-background-clip: text;
}

@media only screen and (max-width: 812px) {
    .education__header {
        font-size: x-large;
        margin: 65px;
    }
}

@media only screen and (max-width: 414px) {
    .education__header {
        margin: 30px;
        font-size: large;
    }
}

.education__school, .education__course {
    position: relative;
    margin: 30px;
    font-weight: bolder;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
    background-color: #1b1b1b;
}

@media only screen and (max-width: 812px) {
    .education__school, .education__course {
        text-align: start;
        font-size: larger;
        margin-left: 155px;
        letter-spacing: 3px;
    }
}

@media only screen and (max-width: 414px) {
    .education__school, .education__course {
        text-align: start;
        margin: 25px 35px;
        font-size: large;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 375px) {
    .education__school, .education__course {
        margin: 20px 35px;
        font-size: 1rem;
    }
}

.education__course::before, .education__school::before  {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: var(--green);
    top: 7px;
    left: -20px;
}

@media only screen and (max-width: 360px) {
    .education__course::before, .education__school::before {
        left: -10px;
    }
}


.education__degree, .education__organizer {
    font-weight: normal;
    color: var(--white);
}

.education__picture {
    height: 50%;
    position: absolute;
    left: 80px;
}

@media only screen and (max-width: 812px) {
    .education__picture {
        height: 130%;
        bottom: -800px;
        left: 340px;
    }
}


@media only screen and (max-width: 414px) {
    .education__picture {
        height: 50%;
        bottom: -600px;
        left: 170px;
    }
}

@media only screen and (max-width: 360px) {
    .education__picture {
        height: 70%;
        bottom: -550px;
        left: 160px;
    }
}

.skills {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.skills__header {
    width: 100%;
    margin-top: 35px;
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
}

@media only screen and (max-width: 414px) {
    .skills__header {
      margin: 25px auto;
    }
}

.skills__wrapper {
    width: 40%;
    padding: 50px;
    font-size: 1.3rem;
    list-style: square;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}


@media only screen and (max-width: 812px) {
    .skills__wrapper {
      letter-spacing: 3px;
      width: 100%;
      text-align: center;
    }
}

@media only screen and (max-width: 414px) {
    .skills__wrapper {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
}

.skill__text {
    margin: 12px;
}

.skills__icon {
    display: grid;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    margin-top: 50px;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f;
}

@media only screen and (max-width: 1362px) {
    .skills__icon {
      width: 40%;
    }
}

@media only screen and (max-width: 812px) {
    .skills__icon {
        width: 90%;
        text-align: center;
        height: 55%;
    }
}

@media only screen and (max-width: 414px) {
    .skills__icon {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .skills__icon {
      height: 45%;
    }
}


.skills__img {
    align-self: center;
    justify-self: center;
    animation: rotated 10s linear infinite;
}

@keyframes rotated {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }   
}

.skills__img--html {
    grid-area: 1/2/2/3;
}

.skills__img--javaScript {
    grid-area:2/1/3/ 2;
}

.skills__img--css {
    grid-area: 3/1/4/2;
}

.skills__img--git {
    grid-area: 2/3/3/4;
}

.skills__img--sass {
    grid-area: 3/3/4/4;
}

.skills__img--responsive {
    grid-area:4/2/5/3 ;
}

.skills__img--photoshop {
    grid-area:2/2/4/3;
    
}

.projects {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    overflow-y: hidden;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}

.projects__header {
    /* position: fixed; */
    width: 100%;
    height: 10%;
    margin: 25px;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase; 
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
}

@media only screen and (max-width: 812px) {
    .projects__header {
      margin: 65px auto 85px;
    }
}

@media only screen and (max-width: 360px) {
    .projects__header{
        margin: 25px auto 45px auto;
    }
}

.project__myProject {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}

.projects__wrapper {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    height: 220px;
    width: 40%; 
    margin: 35px auto;
}

@media only screen and (max-width: 812px) {
    .projects__wrapper {
      width: 70%;
      height: 320px;
      margin: 45px auto;
    }
}

@media only screen and (max-width: 414px) {
    .projects__wrapper {
      width: 60%;
      height: 220px;
    }
}

.projects__img__wrapper {
    background-color: aqua;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px)
}

.projects__img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid var(--green);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
    opacity: 0.7;
    transition: all .5s;
}

.projects__img:hover {
    opacity: 1;
}

.projects__img__button {
    position: relative;
    position: absolute;
    bottom: 0;
    right: 5%;
    padding: 3px;
    background-color: rgb(31, 38, 31);
    color: var(--green);
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    transform: translateZ(20px);
    transition:0.3s ;
}

.projects__img__button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    top: -3px;
    left: -15px;
    background-color: rgba(255, 255, 255, 0.6);
    transform:rotate(20deg);
    transition: 0.3s;
}

.projects__img__button:hover:after {
    transform: translateX(100px) rotate(20deg);
}

.projects__popup {
    display: none;
    position: absolute;
    top: 70%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 10px;
    font-size: smaller;
    z-index: 6;
}

@media only screen and (max-width: 812px) { 
    .projects__popup {
      background-color:rgba(0, 0, 0, 0.8);
      height: 60%;
      width: 100%;
      bottom: 0;
   } 
}

@media only screen and (max-width: 414px) { 
     .projects__popup {
       background-color:rgba(0, 0, 0, 0.8);
       height: 100%;
       width: 100%;
       bottom: 0;
    } 
}

.popup__button {
    position: absolute;
    right: 5%;
    display: block;
    background-color: transparent; 
    border: none;
    color: var(--white);
}

.popup__title {
    text-align: center;
    margin: 5px;
    color: var(--green);
}

.popup___description {
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    background-clip: text; 
}

.popup__info {
    margin: 10px;
    color: var(--green);
}

.popup__info--link {
    display: inline-block;
    font-size: x-large;
    color:var(--white);
}

.popup__info--link:hover {
    transform: scale(1.1);
}

.social__media--projects {
    /* position: fixed;
    z-index: 20; */
    width: 100%;
    height: 10%;
    text-align: center;
    /* align-self: flex-end; */
    font-size: larger;
    /* padding: 60px; */
}

@media only screen and (max-width: 812px) {
    .social__media--projects {
       text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .social__media--projects {
       padding: 35px;
    }
}

.fa-brands {
    display: inline-block;
    opacity: 0.5;
}

.contact {
    position: relative;
    display: none;
    flex-wrap: wrap;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}

.contact__header {
    width: 100%;
    margin: 25px;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase; 
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    -webkit-background-clip: text;
	background-size: cover;
	color: transparent;	
}

@media only screen and (max-width: 812px) {
    .contact__header {
       margin: 65px auto 100px;
       font-size: 2rem;
    }
}

@media only screen and (max-width: 360px) {
    .contact__header {
       margin: 25px auto 55px auto;
    }
}

.contact__icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: x-small;
    background: linear-gradient(90deg, var(--green), var(--white));
    -webkit-background-clip: text; 
}

@media only screen and (max-width: 812px) {
    .contact__icons {
       height: 10%;
       font-size: larger;
    }
}

.contact__img {
    width: 25px;
}

.contact__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    height: 60%;
    margin: 25px auto;
}

@media only screen and (max-width: 812px) {
    .contact__form {
       margin: 100px auto 10px auto;
       width: 80%;
    }
  }

@media only screen and (max-width: 414px) {
    .contact__form {
      width: 90%;
      margin-top: 90px;
    }
}

.contact__form__wrapper {
   position: relative; 
}

.contact__form__wrapper--1 {
    width: 45%;
}

.contact__form__wrapper--2 {
    width: 100%;
}

.contact__form__input--submit {
    width: 20%;
}

.contact__form__header {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    margin: 25px;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

.contact__form__input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--green);
    border-radius: 10px;
    outline: none;
    color: var(--green);
    background-color: transparent;
}

 @media only screen and (max-width: 812px) {
    .contact__form__input {
        height: 50%;
        margin:0;
    }
}

.contact__form__input:focus {
border: 2px solid var(--green);
}

.contact__form__input--submit {
    height: 15%;
    width: 45%;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: 1px solid var(--green);
    border-radius: 10px;
    background-color: transparent;
    color: var(--green);
    font-weight: bolder;
    letter-spacing: 0.2rem;
    background-image:linear-gradient(var(--green), var(--green)), linear-gradient(transparent, transparent);
    background-size: 0 0, auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease-out;
}

@media only screen and (max-width: 812px) {
    .contact__form__input--submit {
       height: 10%;
       font-size: larger;
    }
}

@media only screen and (max-width: 414px) {
    .contact__form__input--submit {
      width: 55%;
      font-size: smaller;

    }
}

.contact__form__input--submit:hover {
    color: var(--white);
    background-size: 100% 100%, auto;
}

label {
    position: absolute;
    top: 50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 15px;
    font-size: 0.9rem;
    color:rgb(7, 129, 99);
    -o-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    transition:0.2s ease all; 
}

@media only screen and (max-width: 812px) {
    label {
       top: 28%;
}}

@media only screen and (max-width: 414px) {
    label {
       top: 33%;
}}

.contact__form__input:focus + label,
.contact__form__input:valid + label {
    top:10%;
    left: 50%;
    margin-left: -15px;
    padding: 0 3px;
    color: var(--white);
    font-size: x-small;
    background-color: rgb(7, 129, 99);
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    -o-transition:0.3s ease all; 
    -webkit-transition:0.3s ease all;
    transition: 0.3s;
}

@media only screen and (max-width: 812px) {
    .contact__form__input:focus + label {
       top: 0%;
    }
}

.contact__form__input--textarea:focus + label,
.contact__form__input--textarea:valid + label {
    top:5%;
    left: 50%;
    margin-left: -15px;
    padding: 0 3px;
    color: var(--white);
    font-size: x-small;
    background-color: rgb(7, 129, 99);
    border-left: 1px solid var(--green);
    border-right: 1px solid var(--green);
    transition: 0.3;
}

@media only screen and (max-width: 812px) {
    .contact__form__input--textarea:focus + label {
       top: 0%;
    }
}