:root {
    --green: #38ccae;
    --dark: #1b1b1b;
    --white: rgb(252, 249, 249)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--green));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    overflow: hidden;
}

.side_container {
    display: grid;
    grid-template-rows: 28vh 25vh auto;
    height: 80vh;
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

div .img {
    width: 40%;
    justify-self: center;
    grid-template-columns: 2/3;
    text-align: center;
}

.my_photo {
    height: 80%;
    margin-top: 20px;
    border: 2px solid rgba(229, 243, 235, 0.5);
    border-radius: 50%;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    height: 60%;
    padding: 5px;
    border: 2px solid rgba(229, 243, 235, 0.5);
    outline: none;
    background: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6));
    color:rgb(252, 249, 249);
    font-weight: bolder;
    cursor: pointer;
    transition: .35s ease-in-out;
}

.button:hover {
    transform: scale(1.5);
    border: 2px solid var(--green);
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

.download {
    position: relative;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.cv {
    display: block;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 45%;
    height: 45%;
    font-size: 1.2rem;
    margin: auto;
    text-decoration: none;
}

.cv:hover ~ .fa-regular {
    display: none;
}

.fas {
    position: absolute;
    top: 15%;
    right: 61px;
    font-size: large;
    color: var(--green);
    animation: rightArrow 0.9s infinite;
}

.fa-arrow-right-long {
    position: absolute;
    top: 15%;
    right: 77%;
    font-size: large;
    animation: leftArrow 0.9s infinite;
}

.cv:hover + .fa-arrow-right-long {
    display: none;
}


@keyframes rightArrow {
    from {transform: translateX(0)}
    to {transform: translateX(-10px)}
}

@keyframes leftArrow {
    from {transform: translateX(0)}
    to {transform: translateX(10px)}
}

.home_container {
    height: 80vh;
    width: 50%;
    /* display: flex; */
    display: none;
    align-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.about_container {
    display: none;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
} 

.education_container {
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.education {
    position: relative;
}

.section {
    margin: 25px 5px;
}

h3.header {
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

li.school, li.course {
    position: relative;
    margin: 30px;
    font-weight: bolder;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

li.course::before, li.school::before  {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: var(--green);
    top: 7px;
    left: -20px;
}


p.degree, p.organizer {
    font-weight: normal;
    color: var(--white);
} 

img.picture {
    height: 50%;
    position: absolute;
    left: 80px;
}

.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;
    transform-origin: 70% 70%; 
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}


.wrapper_container {
    width: 95%;
    height: 95%;
    margin: auto;
}

.about_header--h2 {
    margin: 25px auto;
    text-align: center;
    text-transform: uppercase;
}

strong {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.about_header {
    text-align: justify; 
    margin: 10px 45px;
   
}

.about_text {
    margin: 10px 45px;
    font-size: larger;
    text-align: justify;
}

 p.about_text:nth-child(2) { 
     text-indent: 35px; 
} 

p.about_text:nth-child(9) {
    margin-bottom: 25px;
} 

.home_text {
    height: 60%;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.header_text {
    width: 100%;
    letter-spacing: 0.8rem;
    margin: 55px auto;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

.name {
    letter-spacing: 0.2rem;
    margin: 20px ;
}

h2 span {
    font-size: larger;
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.social_media {
    width: 100%;
    height: 20%;
    padding: 20px;
    text-align: center;
    font-size: large;
}

.fa-brands {
    margin: 10px;
    color: var(--green);
    background-color: var(--white);
    border: 1px solid rgba(229, 243, 235, 0.5);
    transition: .4s;
}

.fa-brands:hover {
    transform: scale(1.6);
    border: 2px solid var(--green);
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

.skills__container {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.skills__header {
    width: 100%;
    margin-top: 35px;
    letter-spacing: 0.1rem;
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.skills__wrapper {
    width: 40%;
    /* background-color: blue; */
    /* height: 80%; */
    padding: 50px;
    font-size: 1.3rem;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

.skill__text {
    margin: 12px;
    list-style: square;
    transition: .5s;
}

.skill__text:hover {
    transform: translateY(-5px);
} 


.skills__icon {
    /* background-color: #38ccae; */
    display: grid;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 5pxpx;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f;
    /* animation: rotated 10s linear infinite; */
    
}

.skills__img {
    animation: rotated 10s linear infinite;
}

@keyframes rotated {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }   
}

.skills__img--html {
    grid-area: 1/2/3/3;
}

.skills__img--javaScript {
    grid-area:2/1/3/ 2;
}

.skills__img--css {
    grid-area: 3/1/4/2;
}

.skills__img--git {
    grid-area: 2/3/3/4;
}

.skills__img--sass {
    grid-area: 3/3/4/4;
}

.skills__img--redponsive {
    grid-area:4/2/5/3 ;
}

.projects__container {
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}

.contact__container {
    display: none;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}