:root {
    --green: #38ccae;
    --dark: #1b1b1b;
    --white: rgb(252, 249, 249);
    --backgroundGradient: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--green));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    overflow: hidden;
}

.side__container {
    display: grid;
    grid-template-rows: 28vh 25vh auto;
    height: 80vh;
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

div .img {
    width: 40%;
    justify-self: center;
    grid-template-columns: 2/3;
    text-align: center;
}

.my_photo {
    height: 80%;
    margin-top: 20px;
    border: 2px solid var(--white);
    border-radius: 50%;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    position: relative;
    height: 60%;
    padding: 5px;
    outline: none;
    border: 2px solid var(--white);
    background: var(--backgroundGradient);
    color:rgb(252, 249, 249);
    font-weight: bolder;
    cursor: pointer;
    transition: .35s ease-in-out;
}

.button:hover {
    transform: scale(1.5);
}

.button::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text; */
    background-color: #2b6154;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

  .button:hover::before {
    transform: scale(1);
    /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text; */
  }

.download {
    position: relative;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.cv {
    display: block;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 45%;
    height: 45%;
    border: 2px solid var(--white);
    font-size: 1.2rem;
    margin: auto;
    text-decoration: none;
}

.cv:hover ~ .fa-regular {
    display: none;
}

.fas {
    position: absolute;
    top: 15%;
    right: 61px;
    font-size: large;
    color: var(--green);
    animation: rightArrow 0.9s infinite;
}

.fa-arrow-right-long {
    position: absolute;
    top: 15%;
    right: 77%;
    font-size: large;
    animation: leftArrow 0.9s infinite;
}

.cv:hover + .fa-arrow-right-long {
    display: none;
}


@keyframes rightArrow {
    from {transform: translateX(0)}
    to {transform: translateX(-10px)}
}

@keyframes leftArrow {
    from {transform: translateX(0)}
    to {transform: translateX(10px)}
}

.home_container {
    height: 80vh;
    width: 50%;
    /* display: flex; */
    display: none;
    align-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.about_container {
    display: none;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
} 

.education_container {
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.education {
    position: relative;
}

.section {
    margin: 25px 5px;
}

h3.header {
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

li.school, li.course {
    position: relative;
    margin: 30px;
    font-weight: bolder;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

li.course::before, li.school::before  {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: var(--green);
    top: 7px;
    left: -20px;
}


p.degree, p.organizer {
    font-weight: normal;
    color: var(--white);
} 

img.picture {
    height: 50%;
    position: absolute;
    left: 80px;
}

.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;
    transform-origin: 70% 70%; 
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}


.wrapper_container {
    width: 95%;
    height: 95%;
    margin: auto;
}

.about_header--h2 {
    margin: 25px auto;
    text-align: center;
    text-transform: uppercase;
}

strong {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.about_header {
    text-align: justify; 
    margin: 10px 45px;
   
}

.about_text {
    margin: 10px 45px;
    font-size: larger;
    text-align: justify;
}

 p.about_text:nth-child(2) { 
     text-indent: 35px; 
} 

p.about_text:nth-child(9) {
    margin-bottom: 25px;
} 

.home_text {
    height: 60%;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.header_text {
    width: 100%;
    letter-spacing: 0.8rem;
    margin: 55px auto;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

.name {
    letter-spacing: 0.2rem;
    margin: 20px ;
}

h2 span {
    font-size: larger;
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.social_media {
    width: 100%;
    height: 20%;
    padding: 20px;
    text-align: center;
    font-size: large;

}

.fa-brands {
    margin: 10px;
    /* color: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6)); */
    color: var(--green);
    background-color: var(--white);
    border: 1px solid rgba(229, 243, 235, 0.5);
    transition: .4s;
}

.fa-brands:hover {
    transform: scale(1.6);
    border: 2px solid var(--green);
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

.skills__container {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3);
}

.skills__header {
    width: 100%;
    margin-top: 35px;
    letter-spacing: 0.2rem;
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.skills__wrapper {
    width: 40%;
    /* background-color: blue; */
    /* height: 80%; */
    padding: 50px;
    font-size: 1.3rem;
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

.skill__text {
    margin: 12px;
    list-style: square;
    transition: .5s;
}

.skill__text:hover {
    transform: translateY(-5px);
} 


.skills__icon {
    /* background-color: #38ccae; */
    display: grid;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 5pxpx;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f;
    /* animation: rotated 10s linear infinite; */
    
}

.skills__img {
    animation: rotated 10s linear infinite;
}

@keyframes rotated {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }   
}

.skills__img--html {
    grid-area: 1/2/3/3;
}

.skills__img--javaScript {
    grid-area:2/1/3/ 2;
}

.skills__img--css {
    grid-area: 3/1/4/2;
}

.skills__img--git {
    grid-area: 2/3/3/4;
}

.skills__img--sass {
    grid-area: 3/3/4/4;
}

.skills__img--redponsive {
    grid-area:4/2/5/3 ;
}

.projects__container {
    display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}

.projects__header {
    width: 100%;
    margin: 35px;
    letter-spacing: 0.2rem;
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.projects_wrapper {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    height: 220px;
    width: 40%; 
    margin: 35px 0;
}

.img__wrapper {
    background-color: aqua;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px)
    /* text-align: center; */
}

.projects__img {
    height: 100%;
    width: 100%;
    border: 1px solid var(--green);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
    opacity: 0.7;
}

.projects__img:hover {
    opacity: 1;
    /* transform: scale(1.1); */
}


.projects__button {
    position: relative;
    position: absolute;
    bottom: 0;
    right: 5%;
    padding: 3px;
    background-color: rgb(31, 38, 31);
    color: var(--green);
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    transform: translateZ(20px);
    transition:0.3s ;
   
   
}

/* .projects__button:hover {
    transform: scale(1.1);
} */

.projects__button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    top: -3px;
    left: -15px;
    background-color: rgba(255, 255, 255, 0.6);
    transform:rotate(20deg);
    transition: 0.3s;
}

.projects__button:hover:after {
    transform: translateX(100px) rotate(20deg);
}

.popup__wrapper {
    display: none;
    position: absolute;
    bottom: -105%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 10px;
    font-size: small;
}

.popup__button {
    position: absolute;
    right: 5%;
    display: block;
    background-color: transparent; 
    border: none;
    color: var(--white);
   /* transform: translateX(240px); */
}

.popup_title {
    text-align: center;
    margin: 5px;
    color: var(--green);
    /* background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text;  */
}

.popup__description {
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

.popup__info {
    margin: 10px;
    color: var(--green);
}

.popup__info--link {
    display: inline-block;
    font-size: x-large;
    color:var(--white);
}

.popup__info--link:hover {
    transform: scale(1.1);
}

.social_media--projects {
    align-self: flex-end;
    font-size: small;
    padding: 60px;
}

.fa-brands {
    display: inline-block;
    opacity: 0.5;
}

.contact__container {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 1rem 2rem rgba(236, 230, 230, 0.3); 
}

.header__contact {
    width: 100%;
    margin: 35px;
    letter-spacing: 0.2rem;
    text-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase; 
}

.contact__icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: small;
    background: linear-gradient(90deg, var(--green), var(--white));
    -webkit-background-clip: text; 
}

.contact__img {
    width: 25px;
}

.contact__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 35px auto;

}

.form__wrapper {
   position: relative; 
}

.form__wrapper--1 {
    width: 45%;
}

.form__wrapper--2 {
    width: 100%;
}

.form__input--submit {
    width: 20%;
}

.form__header {
    width: 100%;
    text-align: center;
    margin: 25px;
    /* color:dodgerblue; */
    background: linear-gradient(90deg, var(--green), var(--white));
    color: transparent;
    -webkit-background-clip: text; 
}

.form__input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--green);
    border-radius: 10px;
    outline: none;
    color: var(--green);
    background-color: transparent;
}

.form__input:focus {
border: 2px solid var(--green);
}

.form__input--submit {
    width: 45%;
    color:#2b6154;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    background-image:linear-gradient(var(--green), var(--green)), linear-gradient(transparent, transparent);
    background-size: 0 0, auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease-out;
}

.form__input--submit:hover {
    color: var(--white);
    background-size: 100% 100%, auto;
}

label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 0.9rem;
    color:#2b6154;
  
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
}

.form__input:focus + label,
.form__input:not(:placeholder-shown) + label {
    top:10%;
    left: 50%;
    margin-left: -15px;
    padding: 0 3px;
    color: var(--white);
    font-size: x-small;
    background-color: rgb(3, 46, 35);
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    transition: 0.3;
}

.form__input--textarea:focus + label, 
.form__input--textarea:not(:placeholder-shown) + label {
    top:5%;
    left: 50%;
    margin-left: -15px;
    padding: 0 3px;
    color: var(--white);
    font-size: x-small;
    background-color: rgb(3, 46, 35);
    border-left: 1px solid var(--green);
    border-right: 1px solid var(--green);
    transition: 0.3;
}



